name: deploy-book

# Only run this when the master branch changes
on:
  push:
    branches:
    - master

# This job installs dependencies, build the book, and pushes it to `gh-pages`
jobs:
  deploy-book:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    # Install dependencies
    #- name: Set up Python 3.7
    #  uses: actions/setup-python@v1
    #  with:
    #    python-version: 3.7

    - name: Setup Miniconda
      uses: goanpeca/setup-miniconda@v1.1.2
      with:
        python-version: 3.7
        activate-environment: thermo-env
        environment-file: environment.yml
        auto-activate-base: false

    - name: Install Jupyter Book
      run: |
        pip install -U --pre jupyter-book

    # Build the book
    - name: Build the book
      run: |
        jupyter-book build book

    # Push the book's HTML to github-pages
    - name: GitHub Pages action
      uses: peaceiris/actions-gh-pages@v3.5.10
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./book/_build/html